// Parameters
params.star_index  = null 
params.docker      = true
params.tool        = "STAR"  

// SRA download parameters
params.download_sra   = false // Set to true to download from SRA instead of using local files
params.fastq_dir      = "data"  // Directory to check for existing FASTQ files

// STAR PARAMS
params.max_forks   = 5 


// Files and Directories
params.reads       = "data/*_{1,2}.fastq.gz"
params.genome_url  = "https://ftp.ensembl.org/pub/release-111/fasta/sus_scrofa/dna/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa.gz"
params.gtf_url     = "https://ftp.ensembl.org/pub/release-111/gtf/sus_scrofa/Sus_scrofa.Sscrofa11.1.111.gtf.gz"
params.transcriptome_url = "https://ftp.ensembl.org/pub/release-115/fasta/sus_scrofa/cdna/Sus_scrofa.Sscrofa11.1.cdna.all.fa.gz"
params.outdir      = "results"




process {
    withName: 'STAR_ALIGN' {
        maxForks = params.max_forks
    }
}

docker {
    enabled = params.docker
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: KALLISTO_QUANT {
        maxForks = 3
    }
}