process {
    // 1. Container Definitionen
    container = 'quay.io/biocontainers/ubuntu:18.04'

    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
        // Speicherschutz für FastQC
        memory = '2 GB' 
    }

    withName: 'KALLISTO_.*' {
        container = 'quay.io/biocontainers/kallisto:0.46.2--h4f7b962_1'
        // WICHTIG: Begrenze RAM pro Job
        memory = '6 GB' 
    }
    
    // 2. DER RETTER FÜR LAPTOPS:
    // "maxForks = 1" bedeutet: Nur ein Prozess gleichzeitig.
    // Das verhindert, dass 4x 6GB RAM gleichzeitig gefordert werden.
    maxForks = 1
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}